{{- $name := get . "name" -}}
{{- if not $name -}}
{{-   $name = promptString "name" -}}
{{- end -}}

{{- $email := get . "email" -}}
{{- if not $email -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- $gpg := get . "gpg" -}}
{{- if not $gpg -}}
{{-   $gpg = promptString "gpg key id (`gpg --list-secret-keys --keyid-format=long`)" -}}
{{- end -}}

[data]
    name = "{{ $name }}"
    email = "{{ $email }}"
    gpg = "{{ $gpg }}"

[sourceVCS]
    autoCommit = true
    autoPush = true
