[user]
  name = Kyle Wigley
  email = {{ .email }}
  signingkey = {{ .gpg }}
[credential]
  helper = osxkeychain
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  pager = delta
  excludesfile = ~/.gitignore
[apply]
  whitespace = nowarn
[difftool]
  prompt = false
[help]
  autocorrect = 1
[push]
  # See `git help config` (search for push.default)
  # for more information on different options of the below setting.
  #
  # Setting to git 2.0 default to suppress warning message
  default = simple
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  required = true
  clean = git-lfs clean -- %f
  process = git-lfs filter-process
[alias]
  recent = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
  c = commit
  tree = log --graph --decorate --pretty=oneline --abbrev-commit
[fetch]
  prune = true
[commit]
  gpgsign = true
[diff]
  tool = vscode
[pull]
  rebase = false
[init]
  defaultBranch = main
[delta]
  features = side-by-side line-numbers
  plus-style = "syntax #012800"
  minus-style = "syntax #340001"
  syntax-theme = Nord
[interactive]
    diffFilter = delta --color-only
