[user]
  name = Kyle Wigley
  email = {{ .email }}
  signingkey = {{ .gpg }}
[credential]
  helper = osxkeychain
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  pager = delta
  excludesfile = ~/.gitignore
[apply]
  whitespace = nowarn
[difftool]
  prompt = false
[help]
  autocorrect = 1
[push]
  default = simple
[filter "lfs"]
  smudge = git-lfs smudge -- %f
  required = true
  clean = git-lfs clean -- %f
  process = git-lfs filter-process
[alias]
  recent = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
  c = commit
  tree = log --graph --decorate --pretty=oneline --abbrev-commit
[fetch]
  prune = true
[commit]
  gpgsign = true
[pull]
  rebase = false
[init]
  defaultBranch = main
[delta]
  features = line-numbers
[interactive]
    diffFilter = delta --color-only
