{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "dbt-labs/dbt"
tap "hashicorp/tap"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"

brew "asdf"
brew "autojump"
brew "awscli"
brew "bat"
brew "bat-extras"
brew "cmake"
brew "coreutils"
brew "deno"
brew "exa"
brew "fd"
brew "fish"
brew "fzf"
brew "gh"
brew "git-delta"
brew "git-extras"
brew "gnu-sed"
brew "gnuplot"
brew "go"
brew "gopls"
brew "jq"
brew "kubectx"
brew "llvm"
brew "lua"
brew "neovim", args: ['HEAD']
brew "ninja"
brew "pinentry-mac"
brew "pipx"
brew "podman"
brew "postgresql"
brew "readline"
brew "ripgrep"
brew "rust-analyzer"
brew "rustup"
brew "shellcheck"
brew "sops"
brew "sqlite"
brew "stylua"
brew "terraform"
brew "terraform-ls"
brew "tmux"
brew "wget"
brew "yq"
brew "zlib"

cask "amethyst", args: { appdir: "/Applications" }
cask "discord", args: { appdir: "/Applications" }
cask "docker", args: { appdir: "/Applications" }
cask "google-chrome", args: { appdir: "/Applications" }
cask "keycastr", args: { appdir: "/Applications/" }
cask "kitty", args: { appdir: "/Applications" }
cask "linear-linear", args: { appdir: "/Applications" }
cask "postico", args: { appdir: "/Applications" }
cask "slack", args: { appdir: "/Applications" }
cask "spotify", args: { appdir: "/Applications" }
cask "visual-studio-code", args: { appdir: "/Applications" }
cask "zoom", args: { appdir: "/Applications" }
EOF
{{ end -}}
