{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "dbt-labs/dbt"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"

brew "asdf"
brew "autojump"
brew "awscli"
brew "bat"
brew "cmake"
brew "coreutils"
brew "curl"
brew "efm-langserver"
brew "exa"
brew "fd"
brew "fish"
brew "fzf"
brew "gh"
brew "gnu-sed"
brew "jq"
brew "kubectx"
brew "llvm"
brew "neovim"
brew "ninja"
brew "postgresql"
brew "readline"
brew "ripgrep"
brew "rustup-init"
brew "shellcheck"
brew "sops"
brew "sqlite"
brew "the_silver_searcher"
brew "tmux"
brew "wget"
brew "yq"
brew "zlib"

cask "amethyst", args: { appdir: "/Applications" }
cask "kitty", args: { appdir: "/Applications" }
cask "postico", args: { appdir: "/Applications" }
cask "spotify", args: { appdir: "/Applications" }
cask "visual-studio-code", args: { appdir: "/Applications" }
EOF
{{ end -}}
