{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Disable press-and-hold for keys in favor of key repeat.
defaults write -g ApplePressAndHoldEnabled -bool false

# Use AirDrop over every interface. srsly this should be a default.
defaults write com.apple.NetworkBrowser BrowseAllInterfaces 1

# Always open everything in Finder's list view. This is important.
defaults write com.apple.Finder FXPreferredViewStyle Nlsv

# Turn off dock animation
defaults write com.apple.dock autohide-time-modifier -float 0.0

# Set a really fast key repeat.
defaults write -g KeyRepeat -int 1
defaults write -g InitialKeyRepeat -int 12
{{ end -}}
