{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "dbt-labs/dbt"
tap "go-task/tap"
tap "hashicorp/tap"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"
tap "omnisharp/omnisharp-roslyn"

brew "act"
brew "asdf"
brew "autojump"
brew "awscli"
brew "bat"
brew "bat-extras"
brew "cmake"
brew "coreutils"
brew "deno"
brew "devspace"
brew "dlv"
brew "entr"
brew "exa"
brew "fd"
brew "fish"
brew "fzf"
brew "gh"
brew "git-delta"
brew "git-extras"
brew "glow"
brew "gnu-sed"
brew "gnuplot"
brew "go"
brew "go-task"
brew "golangci-lint"
brew "gopls"
brew "helm"
brew "hey"
brew "htop"
brew "jq"
brew "k9s"
brew "kubectx"
brew "llvm"
brew "lua"
brew "minikube"
brew "neovim"
brew "ninja"
brew "omnisharp-mono"
brew "pinentry-mac"
brew "pipx"
brew "podman"
brew "readline"
brew "ripgrep"
brew "rust-analyzer"
brew "rustup"
brew "shellcheck"
brew "sops"
brew "sqlite"
brew "staticcheck"
brew "stylua"
brew "terraform"
brew "terraform-ls"
brew "tmux"
brew "up"
brew "wapm"
brew "wasmer"
brew "wget"
brew "yq"
brew "zlib"

cask "1password", args: { appdir: "/Applications" }
cask "amethyst", args: { appdir: "/Applications" }
cask "authy", args: { appdir: "/Applications" }
cask "discord", args: { appdir: "/Applications" }
cask "docker", args: { appdir: "/Applications" }
cask "google-chrome", args: { appdir: "/Applications" }
cask "keycastr", args: { appdir: "/Applications" }
cask "kitty", args: { appdir: "/Applications" }
cask "linear-linear", args: { appdir: "/Applications" }
cask "loom", args: { appdir: "/Applications" }
cask "postico", args: { appdir: "/Applications" }
cask "postgres-unofficial", args: { appdir: "/Applications" }
cask "slack", args: { appdir: "/Applications" }
cask "spotify", args: { appdir: "/Applications" }
cask "visual-studio-code", args: { appdir: "/Applications" }
EOF
{{ end -}}
